@model IEnumerable<BankApp.Models.TermDeposit>

@{
    ViewBag.Title = "Term Deposit";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Months)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_amt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Months)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_amt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepositId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepositId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepositId })
        </td>
    </tr>
}

</table>
